@use '../mixins.scss';

.blurContainer {
	position: absolute;
	z-index: 100;
	height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;

	backdrop-filter: blur(10px);

	animation: slideIn forwards 500ms;

	.cause {
		margin-inline: auto;
		height: max-content;

		> h3 {
			@include mixins.textGrad(var(--pink), var(--cta-200));
		}
	}

	> div {
		height: fit-content;
		overflow-y: auto;
		max-height: 100vh;
	}

	> div,
	.cause {
		display: flex;
		flex-direction: column;
		gap: var(--gap-2);

		background-color: var(--accent);

		width: fit-content;

		padding: var(--gap-2);
		border-radius: calc(var(--gap-2) * 2);

		> h2,
		> h3 {
			text-align: center;
			@include mixins.textGrad(var(--pink), var(--cta-200));
			background-color: var(--accent);
			border-radius: var(--gap-2);
		}

		> h2 {
			font-size: 2.5rem;
		}

		> h3 {
			font-size: 2rem;
		}

		> ul {
			> li {
				border: 2px solid var(--accent);
				border-radius: var(--gap-2);
				padding: 0.5rem;

				display: flex;
				justify-content: space-between;

				transition: all 200ms;
				&:hover {
					border: 2px solid var(--cta-600);
				}

				> p,
				a {
					font-size: 1.5rem;
					color: var(--secondary);

					max-width: 70%;
					text-wrap: wrap;

					text-decoration: none;
				}
			}
		}
	}
}

.input {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: var(--gap-2);
	background-color: var(--primary);

	> div {
		> button {
			border: none;
			outline: none;

			color: var(--secondary);
			font-size: var(--gap-1);

			background-color: transparent;
		}
	}
}

@keyframes slideIn {
	0% {
		opacity: 0;
		transform: translate(-50%, -50%);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}
