.blurContainer {
	position: absolute;
	z-index: 100;
	height: 100vh;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;

	backdrop-filter: blur(10px);

	.cause {
		border: 2px solid var(--call-to-action-color);
		margin-inline: auto;
	}

	> div,
	.cause {
		display: flex;
		flex-direction: column;
		gap: var(--default-gap);

		background-color: var(--accent-color);

		width: fit-content;
		height: fit-content;

		padding: var(--default-gap);
		border-radius: calc(var(--default-gap) * 2);

		> h2,
		> h3 {
			text-align: center;
			color: var(--call-to-action-color);
			background-color: var(--accent-color);
			border-radius: var(--default-gap);
		}

		> h2 {
			font-size: 2.5rem;
		}

		> h3 {
			font-size: 2rem;
		}

		> ul {
			background-color: var(--call-to-action-color);
			border-radius: var(--default-gap);
			> li {
				padding: 0.5rem;

				display: flex;
				justify-content: space-between;
				> p {
					font-size: 1.5rem;
				}
			}
		}
	}
}
