@use '../mixins.scss';

.main {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	max-width: 90vw;
	max-height: 40vh;

	margin-top: 4vh;
	gap: 6px;

	.current .box {
		border-bottom: 4px solid var(--cta-200);
	}

	> div {
		flex-grow: 1;

		display: flex;
		justify-content: space-around;
		transition: color 0.2s;

		gap: var(--gap-2);

		.box {
			flex-grow: 1;

			text-align: center;

			border-bottom: 2px dashed var(--cta-600);

			transition: border-color 200ms;

			&:hover {
				border-color: var(--cta-400);
			}

			> p {
				padding: 0.4rem 1.2rem;
				color: var(--secondary);
			}

			&.correct {
				@include mixins.ind(#00ff0095);
			}

			&.guessed {
				@include mixins.ind(#eeff0095);
			}
		}

		.empty > p {
			color: var(--primary);
		}

		.hint > p {
			animation: forwards 1s fadeIn;
			color: var(--secondary-faint);
		}
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
