@use '../mixins.scss';

.input {
	display: flex;
	gap: 2rem;
	font-size: var(--gap-1);

	> section {
		display: flex;
		align-items: center;
		gap: var(--gap-1);
		padding-inline: var(--gap-1);

		border-radius: var(--gap-2);
		background-color: var(--accent);

		> * {
			border: none;
			outline: none;
		}

		> button {
			--gap: calc(var(--gap-1) * 1.6);

			background-color: transparent;
			display: flex;
			align-items: center;
			cursor: pointer;

			> img {
				width: var(--gap);
				height: var(--gap);
			}

			> p {
				font-size: var(--gap);
				color: var(--secondary);

				&.on {
					@include mixins.textGrad(var(--pink), var(--cta-200));
				}
			}

			> div {
				text-wrap: nowrap;
				overflow: hidden;
				transition: width 100ms, padding-inline 50ms;

				&.show {
					padding-inline: var(--gap-1);
				}

				> p {
					color: var(--secondary);
					font-size: var(--gap-1);
				}
			}
		}

		> select {
			border: 1px solid var(--accent);

			background-color: var(--accent);
			color: var(--secondary);
		}

		.specialLetters {
			--main-gap: calc(var(--gap-1) / 6);

			display: flex;
			align-items: center;
			justify-content: center;
			gap: calc(var(--gap-1) / 2);
			position: relative;

			.letter {
				padding: calc(var(--gap-1) / 2);
				font-size: var(--gap-1);
				border: none;
				outline: none;

				border-radius: calc(var(--gap-1) / 2);
				box-shadow: var(--main-gap) var(--main-gap) #545454;

				transition: all 100ms;

				&:hover {
					box-shadow: 0 0;
					transform: translate(var(--main-gap), var(--main-gap));
				}
			}
		}

		.infoContainer {
			display: flex;
			gap: 1rem;

			> p {
				color: var(--secondary);
			}
		}
	}
}

.display {
	display: none;
}
