.main {
	display: flex;
	justify-content: space-around;

	width: fit-content;
	height: fit-content;

	max-width: 90vw;
	max-height: 70vh;

	gap: 2px;

	> div {
		width: fit-content;
		height: fit-content;

		display: flex;
		flex-direction: column;
		justify-content: space-around;

		gap: 6px;

		.box {
			height: fit-content;
			width: fit-content;
			padding: 1rem 2rem;

			font-size: xx-large;
			text-align: center;

			border-radius: var(--default-gap);

			background-color: var(--accent-color);

			color: white;
		}
	}
}
