@use '../mixins.scss';

.input {
	display: flex;
	gap: 2rem;

	> section {
		display: flex;
		align-items: center;
		padding-inline: 1rem;

		border: 2px solid var(--cta-600);
		border-radius: 100vh;

		> * {
			border: none;
			outline: none;

			&:not(div, select) {
				padding: 1rem;
			}
		}

		> select {
			padding: calc(var(--default-gap) - 2px);
			border: 1px solid var(--primary);
			border-radius: 100vh 0 0 100vh;

			background-color: var(--primary);
			color: var(--secondary);
		}

		.indicator {
			display: grid;
			grid-template-columns: repeat(13, 6px);
			column-gap: 0.5rem;
			padding-inline: 0.5rem;
		}

		.infoContainer {
			display: flex;
			gap: 1rem;
			padding-inline: 1rem;

			> p {
				color: var(--secondary);
			}
		}
	}
}

.radial {
	display: flex;
	gap: var(--default-gap);
	width: max-content;
	justify-content: center;
	align-items: center;
	padding-inline: 1rem;

	> p {
		color: var(--secondary);
		width: fit-content;
		height: fit-content;
	}

	.container {
		display: flex;
		width: fit-content;
		background-color: transparent;

		border: 2px solid var(--cta-600);
		padding: 2px;
		border-radius: 100vh;

		&.active {
			border-color: var(--cta-200);

			.circle {
				background-color: var(--cta-200);
				margin-left: var(--default-gap);
			}
		}

		&.unactive {
			border-color: var(--cta-600);

			.circle {
				background-color: var(--cta-600);
				margin-right: var(--default-gap);
			}
		}

		.circle {
			width: calc(var(--default-gap) * 1.5);
			height: calc(var(--default-gap) * 1.5);
			border-radius: 100vh;
		}
	}
}

.display {
	display: none;
}

.border {
	background-color: var(--cta-600);
	height: 100%;
	width: 2px;
}
