.wrapper {
  height: 100vh;
  height: 100dvh;
  width: 100%;
}

.main {
  margin-inline: auto;
  height: 100%;
  max-width: 80vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
}