@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Lato:wght@700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'JetBrains Mono', monospace;
	font-size: 1.1rem;
}

*:disabled {
	opacity: 50%;
	cursor: default;
}

:root {
	--primary: #0e0e0e;
	--secondary: #ffffff95;

	--accent: #141414;

	--cta-800: #402060;
	--cta-600: #592d86;
	--cta-400: #7339ac;
	--cta-200: #8c53c6;

	--default-gap: 1rem;
}

html {
	background-color: var(--primary);
}

select > option {
	background-color: var(--primary);
	color: var(--secondary);
	text-align: center;
}

input,
button {
	outline: none;
	cursor: pointer;
}

li {
	list-style: none;
}
