@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&family=Lato:wght@700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'JetBrains Mono', monospace;
	user-select: none;
}

*:disabled {
	opacity: 50%;
	cursor: default;
}

:root {
	--primary: #0e0e0e;
	--secondary: #ffffff95;
	--secondary-faint: #ffffff30;

	--accent: #141414;

	--cta-800: #402060;
	--cta-600: #592d86;
	--cta-400: #7339ac;
	--cta-200: #8c53c6;

	--pink: #bd00bd;

	--gap-2: 1rem;
}

html {
	background-color: var(--primary);
}

select {
	font-size: var(--gap-1);
	height: fit-content;
	width: fit-content;
	padding: 0;
	> option {
		background-color: var(--primary);
		color: var(--secondary);
		text-align: center;
		font-size: var(--gap-1);
	}
}

input,
button {
	outline: none;
	cursor: pointer;
}

li {
	list-style: none;
}

.border {
	background-color: var(--pink);
	height: 66%;
	width: 2px;
	max-width: 2px;
}
