@mixin ind($clr) {
	border-bottom: 2px solid $clr;

	> p {
		color: $clr;
	}
}

@mixin interactionBar {
	display: flex;
	gap: 2px;

	> div {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: calc(var(--default-gap) / 2);

		flex-grow: 1;

		border: 2px solid var(--cta-600);

		padding: calc(var(--default-gap) / 2);

		color: var(--secondary);

		> button {
			border-radius: var(--default-gap);
			color: var(--secondary);
		}

		> p {
			padding: var(--default-gap);
		}

		> input {
			border-radius: var(--default-gap);
			width: 85%;
		}
	}

	:last-child {
		border-radius: 0 var(--default-gap) var(--default-gap) 0;
	}

	:first-child {
		border-radius: var(--default-gap) 0 0 var(--default-gap);
	}
}
