@mixin ind($clr) {
	border-bottom: 2px solid $clr;

	> p {
		color: $clr;
	}
}

@mixin textGrad($clr1, $clr2, $deg: to right) {
	background: -webkit-linear-gradient($deg, $clr1, $clr2);
	background: -moz-linear-gradient($deg, $clr1, $clr2);
	background: -o-linear-gradient($deg, $clr1, $clr2);
	background: linear-gradient($deg, $clr1, $clr2);
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
